<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Obtén tu key en https://www.api-sports.io/ -->
    <key>API_SPORTS_KEY</key>
    <string>TU_API_SPORTS_KEY_AQUI</string>

    <!-- Obtén tu token en https://www.eventbrite.com/platform/api -->
    <key>EVENTBRITE_TOKEN</key>
    <string>TU_EVENTBRITE_TOKEN_AQUI</string>
</dict>
</plist>
